<div class="app">
    <div class="row">
        <div class="col">
            <div class="input-group myshadow">
                <span class="input-group-text" id="basic-addon1">ID</span>
                <input type="text" class="form-control" value="{{ student?.id }}">
            </div>
        </div>
        <div class="col">
            <div class="input-group myshadow">
                <span class="input-group-text" id="basic-addon1">Nome</span>
                <input type="text" class="form-control" value="{{ student?.firstname }}">
            </div>
        </div>
        <div class="col">
            <div class="input-group myshadow">
                <span class="input-group-text" id="basic-addon1">Cognome</span>
                <input type="text" class="form-control" value="{{ student?.surname }}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group myshadow">
                <span class="input-group-text" id="basic-addon1">Data di nascita</span>
                <input type="text" class="form-control" value="{{ student?.dateOfBirth }}">
            </div>
        </div>
        <div class="col">
            <div class="input-group myshadow">
                <span class="input-group-text" id="basic-addon1">Indirizzo</span>
                <input type="text" class="form-control" value="{{ student?.address }}">
            </div>
        </div>
        <div class="col">
            <div class="input-group myshadow">
                <span class="input-group-text" id="basic-addon1">Città</span>
                <input type="text" class="form-control" value="{{ student?.city }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group myshadow">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="text" class="form-control" value="{{ student?.email }}">

            </div>
        </div>
        <div class="col">
            <div class="input-group myshadow">
                <span class="input-group-text" id="basic-addon1">Numero di telefono</span>
                <input type="text" class="form-control" value="{{ student?.phoneNumber }}">

            </div>
        </div>
        <div class="col">
            <div class="input-group myshadow">
                <span class="input-group-text" id="basic-addon1">Impiegato</span>
                <input type="text" class="form-control" value="{{ student?.isEmployee }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-warning" (click)="onBack()"><fa-icon [icon]="fareply"></fa-icon>&nbsp;&nbsp;Indietro</button>
        </div>
    </div>



    <!--<table class="table table-dark table-striped table-hover"
        style="width: 90%; user-select: none; -moz-user-select: none;">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">code</th>
                <th scope="col">description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of editions">
                <td>{{ e.id }}</td>
                <td>{{ e.code }}</td>
                <td>{{ e.description }}</td>
                <td style="text-align: right;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>-->
</div>