.app{
    margin-top:30px;       
}
.app2{
    margin-top:30px;
    padding: 30px;
    padding-bottom: 0px;
   
  }
.myborder{
    height: 10px;
    width: 100%;
    background-color: blue; 
}
.table{
    margin-bottom: 0px;
    text-align: center; 
    vertical-align: middle;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 15px 30px 5px rgb(27, 27, 27);
    
}
.sortable tr{
  cursor: pointer;
}
.course_card{
  width: 1000px;
  height: 500px;
  background-color: white;
  display:inline;
  float:left;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 5px 10px 5px rgb(27, 27, 27);
}
.image_card{
  text-align: center;
  width: 300px;
  height: 500px;
  background-color:blue;
  margin-left:300px;
  display:inline;
  position: relative;
  float:left;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 5px 10px 5px rgb(27, 27, 27);
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 30px;
  position: relative;
  left:940px;
  top:20px;
}
img{
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
a:hover {
  background-color: rgb(66, 66, 66);
  color: white;
}

.previous {
  background-color: black;
  color: white;
}
.input-group{
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
  width:90%;
}