<div class="container app2" id="main">
  <button class="btn btn-primary mb-3 ms-3" [routerLink]="['/addcourse', 0]" style="width: 200px;">Add</button>
  <div class="myborder"></div>
  <table class="table table-dark table-striped table-hover"
    style="width: 100%; user-select: none; -moz-user-select: none;">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of courses" >
        <td>{{ c.id }}</td>
        <td>{{ c.title }}</td>
        <td>{{ c.description }}</td>
        <td style="text-align: right;">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" [routerLink]="['/coursedetails', c.id]">Info</button>
            <button type="button" class="btn btn-warning" [routerLink]="['/addcourse', c.id]">Modify</button>
            <button type="button" class="btn btn-danger" (click)="clickMethod(c.id)">Delete</button>
          </div>
        </td> 
      </tr>
    </tbody>
  </table>
  <div class="myborder"></div>
</div>