<div class="container mt-4">
    <h1>{{ student?.firstname }} {{ student?.surname }}</h1>
    <table class="table table-dark table-striped table-hover"
        style="width: 100%; user-select: none; -moz-user-select: none;">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">codice edizione</th>
                <th scope="col">course title</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let enroll of editionsSubsribed">
                <td>{{ enroll.id }}</td>
                <td>{{ enroll.courseEditionCode }}</td>
                <td>{{ enroll.courseEditionCourseTitle }}</td>
                <td style="text-align: right;">
                </td>
            </tr>
        </tbody>
    </table>


    <table class="table table-dark table-striped table-hover"
        style="width: 100%; user-select: none; -moz-user-select: none;">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let enroll of editionsSubsribed">
                <!-- <td>{{ enroll.courseEditionCode }}</td>
                <td>{{ enroll.courseEditionCode }}</td>
                <td>{{ enroll.courseEditionCode }}</td> -->
                <td style="text-align: right;">
                </td>
            </tr>
        </tbody>
    </table>
</div>