<div class="container app" id="main">
    <button class="btn btn-primary mt-3 mb-3" [routerLink]="['/addcourse', 0]" style="width: 200px;">Crea corso</button>
    <div class="myborder"></div>
        <table class="table table-dark table-striped table-hover"
        style="width: 90%; user-select: none; -moz-user-select: none;">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">code</th>
                <th scope="col">description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of editions">
                <td>{{ e.id }}</td>
                <td>{{ e.code }}</td>
                <td>{{ e.description }}</td>
                <td style="text-align: right;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-warning" [routerLink]="['/addedition', e?.id]">modify</button>
                        <button type="button" class="btn btn-primary" [routerLink]="['/studentdetails', e.id]">Info</button>
                        <button type="button" class="btn btn-success" [routerLink]="['/enrollmentstudent', e.id]">Enroll</button>
                        <!-- <button type="button" class="btn btn-danger" (click)="delete(e.id)">Delete</button> -->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="myborder"></div>
  </div>