<div class="container app2" id="main">
  <div class="myborder"></div>
    <table class="table table-dark table-striped table-hover" id="table" style="width: 100%; user-select: none; -moz-user-select: none;">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">first name</th>
          <th scope="col">last name</th>
          <th scope="col">email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of students">
          <td>{{ c.id }}</td>
          <td>{{ c.firstname }}</td>
          <td>{{ c.lastname }}</td>
          <td>{{ c.email }}</td>
          <td style="text-align: right;">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary" routerLink="/studentdetails">Info</button>
              <button type="button" class="btn btn-warning">Modify</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="myborder"></div>
  </div>