/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-color: #4b5661  ;
}
footer{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    background-color: red;
}