
.app2{
    margin-top:20px;
    padding: 30px;
    padding-bottom: 0px;
   
  }
  .btn-warning:hover{
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 15px 25px 20px rgb(27, 27, 27);
    transform: translateY(-3px);
  }
  .btn-warning{
    width: 600px;
    height: 50px;
    margin-left: 25%;
    margin-top: 50px;
  }

.input-group{
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 10px;
  width:90%;
}
.myshadow{
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 5px 5px 5px black;
}