
.app2{
    margin-top:20px;
    padding: 30px;
    padding-bottom: 0px;
   
  }
.sortable tr{
  cursor: pointer;
}


a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 30px;
  position: relative;
  left:940px;
  top:20px;
}
img{
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
a:hover {
  background-color: rgb(66, 66, 66);
  color: white;
}

.previous {
  background-color: black;
  color: white;
}
.input-group{
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 10px;
  width:90%;
}
.table{
  margin-left: 50px;
}
span{
  width: 170px;
}